@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
div{
  border: 1px solid black;
  font-weight: 500;
}
.mainContainer{
  margin-bottom: 60px;
}

.inventory,
.inventory2,
.tables {
  border: 1px solid black;
  font-size: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.tables {
  text-align: right;
}

.item {
  padding: 5px;
}
.inventory,
.inventory2 {
  font-weight: 900;
}

.addTableButton{
  text-align: center;
}

.options{
  position: fixed;
  bottom: 10px;
  display: flex;
  border: 0px;
  flex-direction: row;
}

#searchBar{
  width: 83%;
}

#searchButton{
  position: absolute;
  right: 36px;
  width: 15%;
}

#addItemButton{
  position: fixed;
  right: 0;
  margin-right: 10px;
  width: 13%;
}

