*{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
}
div{
  border: 1px solid black;
  font-weight: 500;
}

.mainContainer{
  margin-top: 90px;
  margin-bottom: 60px;
}

.inventory,
.inventory2{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
}
.inventory,
.inventory2,
.rooms {
  border: 1px solid black;
  font-size: 50px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.rooms {
  text-align: right;
}

.item {
  padding: 5px;
}
.inventory,
.inventory2 {
  font-weight: 900;
}

.addRoomButton{
  text-align: center;
}

.options{
  position: fixed;
  bottom: 10px;
  display: flex;
  border: 0px;
  flex-direction: row;
}

#searchBar{
  margin-left: 10px;
  width: 83%;
}

#searchButton{
  position: absolute;
  right: 0;
  width: 15%;
}

#addItemButton{
  position: fixed;
  right: 0;
  margin-right: 10px;
  width: 13%;
}

#itemAddedAlert {
  z-index: 99999;
  position: relative;
  margin: auto;
  width: 100%;
}